# The URL the site will be built for
base_url = "https://lakshya-sky.github.io"
title = "Lakshya Sky's Blog"

# Whether to automatically compile all Sass files in the sass directory
compile_sass = false

# Whether to build a search index to be used later on by a JavaScript library
build_search_index = false

[markdown]
# Whether to do syntax highlighting
# Theme can be customised by setting the `highlight_theme` variable to a theme supported by Zola

[extra]
# Put all your custom variables here
