{% extends "resume.html" %}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}'s Resume</title>
  <meta name="description" content="{{ description or site.description }}">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;500&amp;display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&amp;display=swap" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css"> -->
  <link rel="stylesheet" href="/css/resume.css">

{% endblock head%}

{% block content %}
  <main class="css-be9d8r">
    <div class="css-1jmx1h9">
      <div class="css-1qbz534">
        <div class="css-1bnx3o6"></div>
        </div>
      <div class="css-1tcp1k1">
        <div class="css-1gfkkfz">
          <header class="header">
            <h1 class="h1">{{ page.title }}</h1>
            <div class="bio">
              <div class="pm-handles">
                <div class="current-role">Blockchain Developer</div>
                <!--<div class="current-location">Halifax, CA </div>-->
                <a href="http://github.com/lakshya-sky" target="_blank" rel="noopener noreferrer nofollow ugc"
                  class="handle-link">
                  github.com/lakshya-sky
                </a>
                <!-- <div class="handle">maria@email.com</div> -->
                <!-- <div class="handle">555-555-5555</div> -->
              </div>
              <div class="desc"></div>
            </div>
          </header>
          <div class="pdf-page-container page-container">
            <div class="pdf-page-column page-container" />
            <section class="section">
              <div class="section-title">
                <h2 class="section-heading">Skills</h2>
                <div class="section-border"></div>
              </div>
              <div class="section-item mb-12">
                <div class="skill-item-header">
                  <div class="title-container">
                    <h2 class="title-main fs-16">Developement: </h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main skills-list">Rust, Zero Knowledge Proof, CosmWasm, Node.js, React, Next.js, GraphQL </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-item mb-12">
                <div class="skill-item-header">
                  <div class="title-container">
                    <h2 class="title-main fs-16">DevOps: </h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main skills-list">GitLab CI, Terraform</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-item mb-12">
                <div class="skill-item-header">
                  <div class="title-container">
                    <h2 class="title-main fs-16">Container Orchestration: </h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main skills-list">Kubernetes, Helm, Docker</h3>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="section-title">
                <h2 class="section-heading">Work Experience</h2>
                <div class="section-border"></div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Blockchain Developer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main"><a href="https://webisoft.com/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">Webisoft</a> (Montreal, QC)
                      </h3>
                    </div>
                    <div class="subtitle-meta"><span>Sep 2022 – Current</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Develop games using Zero-Knowledge proofs on Cosmos Based Chains.</li>
                    <li class="desc-list-item">Speed-up Zero-Knowledge cryptographic operation on browsers using WASM.</li>
                    <li class="desc-list-item">Setup local development infrastructure and tools for Blockchains.</li>
                  </ul>
                </div>
              </div>
              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Full Stack Developer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main"><a href="https://allnovascotia.com/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">allNovascotia</a> (Halifax, NS)
                      </h3>
                    </div>
                    <div class="subtitle-meta"><span>Mar 2021 – Sept 2022</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Reduced peak-time server response by more than 80% by restructuring tables
                      and improving session logic.</li>
                    <li class="desc-list-item">Introduced Credit Card tokenization and migrated code to use tokens instead
                      of raw credit cards.</li>
                    <li class="desc-list-item">Modified Server side session based authentication to in-house JWT based
                      authentication.</li>
                  </ul>
                </div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Full Stack Developer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main"><a href="https://www.yqgtech.com/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">YQG Technologies Inc</a> (Windsor,
                        ON)</h3>
                    </div>
                    <div class="subtitle-meta"><span>Sept 2020 – Feb 2021</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Architected and coded micro-services using AWS Lambda Functions and DynamoDB.
                    </li>
                    <li class="desc-list-item">Integrated AWS Cognito for user-authentication and better user category
                      management.</li>
                    <li class="desc-list-item">Achieved above 90% code coverage for server side functionality using unit
                      and integration tests.</li>
                  </ul>
                </div>
              </div>
              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Software Developer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main"><a href="https://www.aarvitechnology.com/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">Aarvi Technology</a> (Surat, India)
                      </h3>
                    </div>
                    <div class="subtitle-meta"><span>June 2018 – July 2019</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Developed web and mobile applications for Residency management using React.js, PhoneGap and Firebase.</li>
                    <li class="desc-list-item">Actively participated in architecture design and application maintenance.</li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="section-title">
                <h2 class="section-heading">Projects</h2>
                <div class="section-border"></div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">ZK-Mixer - Anonymous Coin Transfer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-meta"><span>Rust, Blockchain, zkSNARK, Substrate</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Transfer coins privately without revealing your identity, obfuscating transactions.</li>
                    <li class="desc-list-item">Learned about developing blockchains, ZK-SNARK algorithms, Substrate Framework.</li>
                  </ul>
                </div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Rovo - Deep Learning Library</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-meta"><span>Rust, PyTorch, Data Structures, Algorithms</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Implemented Concurrent Data Structures to process tensor operations.</li>
                    <li class="desc-list-item">Learned new programming paradigms to maintain dynamic polymorphism for different functions.</li>
                    <li class="desc-list-item">Strengthened Data structure, Algorithm, Multithreading, and Deep Learning concepts.</li>
                  </ul>
                </div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Watson - Teaching Platform</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-meta"><span>AWS (Lambda, Sagemaker, Lex), GCP (Pub/Sub, Cloud Functions)
</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Built using serverless services, Watson provides functionalities for universities such as virtual assistance and quickly answers the queries of instructors by analyzing data.</li>
                    <li class="desc-list-item">Implemented Discussion boards using Google Cloud Services such as Pub/Sub and Cloud Functions.</li>
                    <li class="desc-list-item">Integrated AWS Cognito, AWS Lex, AWS Lambda functions,  GCP Pub/Sub and Cloud Functions in React.js Website.</li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="section-title">
                <h2 class="section-heading">Education</h2>
                <div class="section-border"></div>
              </div>
              <div class="section-item mb-12">
                <div class="section-item-header mb-12">
                  <div class="title-container">
                    <h2 class="title-main fs-16">Master of Applied Computer Science</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main fw-400"><a href="https://www.dal.ca/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">Dalhousie University</a></h3>
                    </div>
                    <div class="subtitle-meta"><span>Sept 2019 - May 2021</span></div>
                  </div>
                </div>
              </div>
              <div class="section-item mb-12">
                <div class="section-item-header mb-12">
                  <div class="title-container">
                    <h2 class="title-main fs-16">B.Tech, Information Technology</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main fw-400"><a href="https://ddu.ac.in/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">Dharmsinh Desai University</a></h3>
                    </div>
                    <div class="subtitle-meta"><span>Aug 2014 — May 2018</span></div>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
{% endblock content%}
