{% extends "resume.html" %}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}'s Resume</title>
  <meta name="description" content="{{ description or site.description }}">
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;500&amp;display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&amp;display=swap" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css"> -->
  <link rel="stylesheet" href="/css/resume.css">

  <!--  -->

{% endblock head%}

{% block content %}
  <main class="main">
    <div class="css-1jmx1h9">
      <div class="css-1qbz534">
        <div class="css-1bnx3o6"></div>
        </div>
      <div class="css-1tcp1k1">
        <div class="css-1gfkkfz">
          <header class="header">
            <h1 class="h1">{{ page.title }}</h1>
            <div class="bio">
              <div class="pm-handles">
                <div class="current-role">Software Developer</div>
                <!--<div class="current-location">Halifax, CA </div>-->
                <a href="http://github.com/lakshya-sky" target="_blank" rel="noopener noreferrer nofollow ugc"
                  class="handle-link">
                  github.com/lakshya-sky
                </a>
                <!-- <div class="handle">maria@email.com</div> -->
                <!-- <div class="handle">555-555-5555</div> -->
              </div>
            </div>
              <div class="desc">
Using Vim, I've escaped more modes than Houdini. My code is as clean as my escape strategy - efficient, sleek, and always surprising!
              </div>
          </header>
          <div class="pdf-page-container page-container">
            <div class="pdf-page-column page-container" />
            <section class="section">
              <div class="section-title">
                <h2 class="section-heading">Skills</h2>
                <div class="section-border"></div>
              </div>
              <div class="section-item mb-12">
                <div class="skill-item-header">
                  <div class="title-container">
                    <h2 class="title-main ">Developement: </h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main skills-list">Rust, Go, Node.js, React.js, Next.js, GraphQL</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-item mb-12">
                <div class="skill-item-header">
                  <div class="title-container">
                    <h2 class="title-main ">DevOps: </h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main skills-list">GitLab CI, Terraform, Google Cloud, AWS</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-item mb-12">
                <div class="skill-item-header">
                  <div class="title-container">
                    <h2 class="title-main ">Container Orchestration: </h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main skills-list">Kubernetes, Helm, Docker</h3>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="section-title">
                <h2 class="section-heading">Work Experience</h2>
                <div class="section-border"></div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Full Stack Developer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main location"><a href="https://webisoft.com/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">Webisoft</a> (Montreal, QC)
                      </h3>
                    </div>
                    <div class="subtitle-meta"><span>Sep 2022 – Current</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    
                    <li class="desc-list-item">Improved security and efficiency by analyzing and strengthening the authentication flow of formulaehighvoltage.com, using Flow blockchain and integrating Blockchain wallet.</li>
                    <li class="desc-list-item">
                    Enhanced the Sonr.io ecosystem by containerizing dependencies, reducing integration testing time, and improving wallet interactions with Decentralized identifiers (DIDs) via Cosmos SDK.</li>
                    <li class="desc-list-item">
                       Enabled efficient execution of privacy-preserving proofs in web browsers by compiling and integrating Mental Poker cryptographic library to WebAssembly.
                  </ul>
                </div>
              </div>
              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Full Stack Developer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main location"><a href="https://allnovascotia.com/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">allNovascotia</a> (Halifax, NS)
                      </h3>
                    </div>
                    <div class="subtitle-meta"><span>Mar 2021 – Sept 2022</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Automated secure processing of customer card details by implementing card tokenization in the payment service, reducing data leak risks.</li>
                    <li class="desc-list-item">Optimized system performance during high-traffic events by redesigning the database schema, streamlining session logic, and implementing efficient Redis caching for stories, resulting in an improved user experience.</li>
                    <li class="desc-list-item">Transitioned from server-side session-based authentication to in-house JWT-based authentication.</li>
                  </ul>
                </div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Full Stack Developer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main location"><a href="https://www.yqgtech.com/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">YQG Technologies Inc</a> (Windsor,
                        ON)</h3>
                    </div>
                    <div class="subtitle-meta"><span>Sept 2020 – Feb 2021</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Successfully orchestrated the migration of a Node.js backend to AWS Lambda functions and optimized data handling by transitioning to DynamoDB, resulting in substantial performance improvements and cost reduction.</li>
                    <li class="desc-list-item">Integrated AWS Cognito for user-authentication and better user category
                      management.</li>
                    <li class="desc-list-item">Achieved over 90% code coverage for server-side functionality through unit and integration tests.
                     </li>
                  </ul>
                </div>
              </div>
              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Software Developer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main location"><a href="https://www.aarvitechnology.com/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">Aarvi Technology</a> (Surat, India)
                      </h3>
                    </div>
                    <div class="subtitle-meta"><span>June 2018 – July 2019</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Developed web and mobile applications for Residency management using React.js, PhoneGap and Firebase.</li>
                    <li class="desc-list-item">Actively participated in architecture design and application maintenance.</li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="section-title">
                <h2 class="section-heading">Projects</h2>
                <div class="section-border"></div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">ZK-Mixer - Anonymous Coin Transfer</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-meta"><span>Rust, Blockchain, zkSNARK, Substrate</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Implemented a Zero-Knowledge system to enable confidential coin transfers while preserving user anonymity, effectively obfuscating transaction details. </li>
                    <li class="desc-list-item">This project provided valuable insights into complex cryptographic concepts and data structures such as Merkle Trees and Vector Commitments.</li>
                  </ul>
                </div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Rovo - Deep Learning Library</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-meta"><span>Rust, PyTorch, Data Structures, Algorithms</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Implemented Concurrent Data Structures to process tensor operations.</li>
                    <li class="desc-list-item">Learned new programming paradigms to maintain dynamic polymorphism for different functions.</li>
                    <li class="desc-list-item">Strengthened Data structure, Algorithm, Multithreading, and Deep Learning concepts.</li>
                  </ul>
                </div>
              </div>

              <div class="section-item">
                <div class="section-item-header">
                  <div class="title-container">
                    <h2 class="title-main">Watson - Teaching Platform</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-meta"><span>AWS (Lambda, Sagemaker, Lex), GCP (Pub/Sub, Cloud Functions)
</span></div>
                  </div>
                </div>
                <div>
                  <ul class="desc-list">
                    <li class="desc-list-item">Utilized serverless services on AWS (Lambda, Sagemaker, Lex) and GCP (Pub/Sub, Cloud Functions).</li>
                    <li class="desc-list-item">Provided universities with virtual assistance and rapid query responses for instructors using data analysis.</li>
                    <li class="desc-list-item">Integrated multiple cloud services into a React.js website, including AWS Cognito and GCP Pub/Sub.</li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="section">
              <div class="section-title">
                <h2 class="section-heading">Education</h2>
                <div class="section-border"></div>
              </div>
              <div class="section-item mb-12">
                <div class="section-item-header mb-12">
                  <div class="title-container">
                    <h2 class="title-main ">Master of Applied Computer Science</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main fw-400"><a href="https://www.dal.ca/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">Dalhousie University, Halifax</a></h3>
                    </div>
                    <!-- <div class="subtitle-meta"><span>Sept 2019 - May 2021</span></div> -->
                  </div>
                </div>
              </div>
              <div class="section-item mb-12">
                <div class="section-item-header mb-12">
                  <div class="title-container">
                    <h2 class="title-main ">Bachelor of Technology, Information Technology</h2>
                  </div>
                  <div class="subtitle-container">
                    <div class="subtitle-main-container">
                      <h3 class="subtitle-main fw-400"><a href="https://ddu.ac.in/" target="_blank"
                          rel="noopener noreferrer nofollow ugc" class="css-1wafmg3">Dharmsinh Desai University, India</a></h3>
                    </div>
                    <!-- <div class="subtitle-meta"><span>Aug 2014 — May 2018</span></div> -->
                  </div>
                </div>
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
{% endblock content%}
